{% extends "ex1.html" %}

{% block content %}
    {%
    set list_prof = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
                     'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите',
                     'астрогеолог', 'гляциолог', 'инженер жизнеобеспечения', 'метеоролог',
                     'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов']
    %}
    <h2>
        Список профессий
    </h2>
    {% if list_ == 'ol' %}
        <ol>
            {% for prof in list_prof %}
            <li>
                {{ prof }}
            </li>
            {% endfor %}
        </ol>
    {% elif list_ == 'ul' %}
        <ul>
            {% for prof in list_prof %}
            <li>
                {{ prof }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}